#owhmt{width:auto;min-height:40px;}
#pageBackground_owhmt{--bg-position:absolute;--bg-overlay-color:rgb(255, 255, 255);--bg-gradient:none;}
.backgroundGroup__owhmt :not(#pageBackground_owhmt){--bg-position:absolute;--bg-overlay-color:rgb(255, 255, 255);--bg-gradient:none;}
#comp-lz7kymdk{--bg-overlay-color:transparent;--bg-gradient:none;min-width:980px;}
#comp-l6l5wlp8{--height:400px;--width:535px;}
#comp-l6l5wlph{--height:400px;--width:531px;}
#comp-l6l5wlpi{--height:664px;--width:696px;}
#comp-l6l5wlpm{--height:199px;--width:299px;}
#comp-l6l5wlpn1{--height:244px;--width:199px;}
#comp-l6l5wlpo2{--height:192px;--width:299px;}
#comp-l6l5wlpp3{--height:240px;--width:235px;--mask-image:url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='20 20 160 160' viewBox='20 20 160 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M180 20v160H20V20h160z'/%3E%3C/g%3E%3C/svg%3E%0A");--mask-position:0% 0%;--mask-size:100% 100%;--mask-repeat:no-repeat;}
#comp-l6l5wlpr{--height:75px;--width:259px;}
#comp-l6l5wlpt{--height:68px;--width:327px;}
#comp-l6l5wlpu1{--height:88px;--width:656px;}
#comp-l6l5wlpv2{--height:88px;--width:656px;}
#comp-l6l5wlpw1{--height:95px;--width:95px;}
#comp-l6l5wlpy2{--height:91px;--width:91px;}
#comp-l6l5wlq01{--height:107px;--width:499px;}
#comp-l6l5wlq12{--height:107px;--width:499px;}
#comp-l6l5wlq24{--height:107px;--width:499px;}
	

#owhmt{left:0;margin-left:0;width:100%;min-width:0;}
#masterPage{--pinned-layers-in-page:0;}[data-mesh-id=ContainerowhmtinlineContent]{height:auto;width:100%;}[data-mesh-id=ContainerowhmtinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:40px;grid-template-rows:1fr;grid-template-columns:100%;padding-bottom:0px;box-sizing:border-box;}[data-mesh-id=ContainerowhmtinlineContent-gridContainer] > [id="comp-lz7kymdk"]{position:relative;margin:0px 0px 0 calc((100% - 980px) * 0.5);left:0px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start;}
#comp-lz7kymdk{left:0;margin-left:0;width:100%;min-width:0;}[data-mesh-id=comp-lz7kymdkinlineContent]{height:auto;width:100%;display:flex;}[data-mesh-id=comp-lz7kymdkinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;margin-top:-44px;margin-bottom:-18px;grid-template-rows:repeat(13, min-content) 1fr;grid-template-columns:100%;}[data-mesh-id="comp-l6l5wlp8-rotated-wrapper"] > [id="comp-l6l5wlp8"]{position:relative;left:560px;top:40px;}[data-mesh-id="comp-l6l5wlph-rotated-wrapper"] > [id="comp-l6l5wlph"]{position:relative;left:-184px;top:17px;}[data-mesh-id="comp-l6l5wlpu1-rotated-wrapper"] > [id="comp-l6l5wlpu1"]{position:relative;left:128px;top:284px;}[data-mesh-id="comp-l6l5wlpv2-rotated-wrapper"] > [id="comp-l6l5wlpv2"]{position:relative;left:128px;top:284px;}[data-mesh-id="comp-l6l5wlpw1-rotated-wrapper"] > [id="comp-l6l5wlpw1"]{position:relative;left:284px;top:15px;}[data-mesh-id="comp-l6l5wlpy2-rotated-wrapper"] > [id="comp-l6l5wlpy2"]{position:relative;left:510px;top:260px;}[data-mesh-id=comp-l6l5wlp8-rotated-wrapper]{position:static;height:480px;width:0;margin:84px 0px -227px calc((100% - 980px) * 0.5);grid-area:1 / 1 / 11 / 2;justify-self:start;align-self:start;}[data-mesh-id=comp-l6l5wlph-rotated-wrapper]{position:static;height:434px;width:0;margin:94px 0px -191px calc((100% - 980px) * 0.5);grid-area:1 / 1 / 10 / 2;justify-self:start;align-self:start;}[data-mesh-id=comp-lz7kymdkinlineContent-gridContainer] > [id="comp-l6l5wlpi"]{position:relative;margin:0px 0px 18px calc((100% - 980px) * 0.5);left:112px;grid-area:1 / 1 / 15 / 2;justify-self:start;align-self:start;}[data-mesh-id=comp-lz7kymdkinlineContent-gridContainer] > [id="comp-l6l5wlpm"]{position:relative;margin:19px 0px 10px calc((100% - 980px) * 0.5);left:200px;grid-area:11 / 1 / 12 / 2;justify-self:start;align-self:start;}[data-mesh-id=comp-lz7kymdkinlineContent-gridContainer] > [id="comp-l6l5wlpn1"]{position:relative;margin:67px 0px -98px calc((100% - 980px) * 0.5);left:244px;grid-area:1 / 1 / 4 / 2;justify-self:start;align-self:start;}[data-mesh-id=comp-lz7kymdkinlineContent-gridContainer] > [id="comp-l6l5wlpo2"]{position:relative;margin:0px 0px -92px calc((100% - 980px) * 0.5);left:428px;grid-area:2 / 1 / 6 / 2;justify-self:start;align-self:start;}[data-mesh-id=comp-lz7kymdkinlineContent-gridContainer] > [id="comp-l6l5wlpp3"]{position:relative;margin:0px 0px 10px calc((100% - 980px) * 0.5);left:440px;grid-area:11 / 1 / 12 / 2;justify-self:start;align-self:start;}[data-mesh-id=comp-lz7kymdkinlineContent-gridContainer] > [id="comp-l6l5wlpr"]{position:relative;margin:105px 0px -27px calc((100% - 980px) * 0.5);left:500px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start;}[data-mesh-id=comp-lz7kymdkinlineContent-gridContainer] > [id="comp-l6l5wlpt"]{position:relative;margin:15px 0px 10px calc((100% - 980px) * 0.5);left:500px;grid-area:11 / 1 / 12 / 2;justify-self:start;align-self:start;}[data-mesh-id=comp-l6l5wlpu1-rotated-wrapper]{position:static;height:656px;width:0;margin:26px 0px 0px calc((100% - 980px) * 0.5);grid-area:1 / 1 / 13 / 2;justify-self:start;align-self:start;}[data-mesh-id=comp-l6l5wlpv2-rotated-wrapper]{position:static;height:656px;width:0;margin:26px 0px 0px calc((100% - 980px) * 0.5);grid-area:1 / 1 / 14 / 2;justify-self:start;align-self:start;}[data-mesh-id=comp-l6l5wlpw1-rotated-wrapper]{position:static;height:124px;width:0;margin:120px 0px -31px calc((100% - 980px) * 0.5);grid-area:1 / 1 / 3 / 2;justify-self:start;align-self:start;}[data-mesh-id=comp-l6l5wlpy2-rotated-wrapper]{position:static;height:119px;width:0;margin:0px 0px 5px calc((100% - 980px) * 0.5);grid-area:4 / 1 / 9 / 2;justify-self:start;align-self:start;}[data-mesh-id=comp-lz7kymdkinlineContent-gridContainer] > [id="comp-l6l5wlpz3"]{position:relative;margin:0px 0px -52px calc((100% - 980px) * 0.5);left:-45px;grid-area:6 / 1 / 7 / 2;justify-self:start;align-self:start;}#comp-l6l5wlp8{--contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingTop:0px;--contentPaddingBottom:0px;}@media (prefers-reduced-motion: no-preference) {#comp-l6l5wlp8:not([data-motion-enter="done"]){opacity:0;}}#comp-l6l5wlp8{width:535px;height:400px;transform:rotate(9.114446367137987deg);--comp-rotate-z:9.114446367137987deg;}#comp-l6l5wlph{--contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingTop:0px;--contentPaddingBottom:0px;}@media (prefers-reduced-motion: no-preference) {#comp-l6l5wlph:not([data-motion-enter="done"]){opacity:0;}}#comp-l6l5wlph{width:531px;height:400px;transform:rotate(356.29687858649936deg);--comp-rotate-z:356.29687858649936deg;}
#comp-l6l5wlpi{--contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingTop:0px;--contentPaddingBottom:0px;}@media (prefers-reduced-motion: no-preference) {#comp-l6l5wlpi:not([data-motion-enter="done"]){opacity:0;}}
#comp-l6l5wlpi{width:696px;height:664px;}
#comp-l6l5wlpm{--contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingTop:0px;--contentPaddingBottom:0px;}@media (prefers-reduced-motion: no-preference) {#comp-l6l5wlpm:not([data-motion-enter="done"]){opacity:0;}}#comp-l6l5wlpm{width:299px;height:199px;}#comp-l6l5wlpn1{--rd:3px;--brd:var(--color_15);--brw:0px;--sizeRd:3px;--sizeBrw:0px;--contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingBottom:0px;--contentPaddingTop:0px;--alpha-brd:1;}@media (prefers-reduced-motion: no-preference) {#comp-l6l5wlpn1:not([data-motion-enter="done"]){opacity:0;}}#comp-l6l5wlpn1{width:199px;height:244px;}#comp-l6l5wlpo2{--contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingTop:0px;--contentPaddingBottom:0px;}@media (prefers-reduced-motion: no-preference) {#comp-l6l5wlpo2:not([data-motion-enter="done"]){opacity:0;}}
#comp-l6l5wlpo2{width:400px;height:192px;}
#comp-l6l5wlpp3{--shd:0.00px 0.00px 14px 0px rgba(0,0,0,0.2);--brw:0px;--brd:255,255,255;--contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingBottom:0px;--contentPaddingTop:0px;--alpha-brd:1;}@media (prefers-reduced-motion: no-preference) {#comp-l6l5wlpp3:not([data-motion-enter="done"]){opacity:0;}}#comp-l6l5wlpp3{width:235px;height:240px;}#comp-l6l5wlpr{--contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingTop:0px;--contentPaddingBottom:0px;}@media (prefers-reduced-motion: no-preference) {#comp-l6l5wlpr:not([data-motion-enter="done"]){opacity:0;}}#comp-l6l5wlpr{width:259px;height:75px;}
#comp-l6l5wlpt{--contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingTop:0px;--contentPaddingBottom:0px;}@media (prefers-reduced-motion: no-preference) {#comp-l6l5wlpt:not([data-motion-enter="done"]){opacity:0;}}
#comp-l6l5wlpt{width:327px;height:68px;}#comp-l6l5wlpu1{--rd:3px;--brd:var(--color_15);--brw:2px;--sizeRd:3px;--sizeBrw:2px;--contentPaddingLeft:2px;--contentPaddingRight:2px;--contentPaddingBottom:2px;--contentPaddingTop:2px;--alpha-brd:0;}@media (prefers-reduced-motion: no-preference) {#comp-l6l5wlpu1:not([data-motion-enter="done"]){opacity:0;}}#comp-l6l5wlpu1{width:656px;height:88px;transform:rotate(270deg);--comp-rotate-z:270deg;}#comp-l6l5wlpv2{--contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingTop:0px;--contentPaddingBottom:0px;}@media (prefers-reduced-motion: no-preference) {#comp-l6l5wlpv2:not([data-motion-enter="done"]){opacity:0;}}#comp-l6l5wlpv2{width:656px;height:88px;transform:rotate(270deg);--comp-rotate-z:270deg;}#comp-l6l5wlpw1{--contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingTop:0px;--contentPaddingBottom:0px;}@media (prefers-reduced-motion: no-preference) {#comp-l6l5wlpw1:not([data-motion-enter="done"]){opacity:0;}}#comp-l6l5wlpw1{width:95px;height:95px;transform:rotate(338.19559969071474deg);--comp-rotate-z:338.19559969071474deg;}#comp-l6l5wlpy2{--contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingTop:0px;--contentPaddingBottom:0px;}@media (prefers-reduced-motion: no-preference) {#comp-l6l5wlpy2:not([data-motion-enter="done"]){opacity:0;}}#comp-l6l5wlpy2{width:150px;height:19px;}#comp-l6l5wlpz3{width:501px;}[data-mesh-id=comp-l6l5wlpz3inlineContent]{height:auto;width:501px;}[data-mesh-id=comp-l6l5wlpz3inlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;grid-template-rows:1fr;grid-template-columns:100%;}[data-mesh-id=comp-l6l5wlpz3inlineContent-gridContainer] > [id="comp-l6l5wlq01"]{position:relative;margin:29px 0px 0px 0;left:0px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start;}[data-mesh-id=comp-l6l5wlpz3inlineContent-gridContainer] > [id="comp-l6l5wlq12"]{position:relative;margin:15px 0px 14px 0;left:0px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start;}[data-mesh-id=comp-l6l5wlpz3inlineContent-gridContainer] > [id="comp-l6l5wlq24"]{position:relative;margin:0px 0px 29px 0;left:2px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start;}#comp-l6l5wlq01{--contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingTop:0px;--contentPaddingBottom:0px;}@media (prefers-reduced-motion: no-preference) {#comp-l6l5wlq01:not([data-motion-enter="done"]){opacity:0;}}#comp-l6l5wlq01{width:499px;height:107px;}#comp-l6l5wlq12{--contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingTop:0px;--contentPaddingBottom:0px;}@media (prefers-reduced-motion: no-preference) {#comp-l6l5wlq12:not([data-motion-enter="done"]){opacity:0;}}#comp-l6l5wlq12{width:499px;height:107px;}#comp-l6l5wlq24{--contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingTop:0px;--contentPaddingBottom:0px;}@media (prefers-reduced-motion: no-preference) {#comp-l6l5wlq24:not([data-motion-enter="done"]){opacity:0;}}#comp-l6l5wlq24{width:499px;height:107px;}

	


@font-face {
    font-family:"Proxima-N-W01-Reg";
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/64017d81-9430-4cba-8219-8f5cc28b923e.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff");
font-display: swap;
}@font-face{
    font-family:"Proxima-N-W05-Reg";
    src: url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/ProximNova/v1/ProximaNovaW05-Regular.woff2") format("woff2"),
    url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/ProximNova/v1/ProximaNovaW05-Regular.woff") format("woff");
font-display: swap;
}@font-face {
    font-family: "DIN-Next-W01-Light";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/bc176270-17fa-4c78-a343-9fe52824e501.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3516f91d-ac48-42cd-acfe-1be691152cc4.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d1b1e866-a411-42ba-8f75-72bf28e23694.svg#d1b1e866-a411-42ba-8f75-72bf28e23694") format("svg");
font-display: swap;
}@font-face {
    font-family: "DIN-Next-W02-Light";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/07d62b21-8d7a-4c36-be86-d32ab1089972.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/c0050890-bbed-44b9-94df-2611d72dbb06.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/9f774d17-c03a-418e-a375-34f3beecbc7a.svg#9f774d17-c03a-418e-a375-34f3beecbc7a") format("svg");
font-display: swap;
}@font-face {
    font-family: "DIN-Next-W10-Light";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3d009cd7-c8fe-40c0-93da-74f4ea8c530b.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3d009cd7-c8fe-40c0-93da-74f4ea8c530b.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/a9e95a29-98a7-404a-90ee-1929ad09c696.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0a7663fd-eae8-4e50-a67a-225271f8cceb.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/58ae9be9-5d95-44b6-8b6c-e6da6a46822c.svg#58ae9be9-5d95-44b6-8b6c-e6da6a46822c") format("svg");
font-display: swap;
}#masterPage:not(.landingPage) 
#PAGES_CONTAINER{margin-top:0px;margin-bottom:0px;}
#masterPage.landingPage #SITE_HEADER{display:none;}
#masterPage.landingPage #SITE_FOOTER{display:none;}
#masterPage.landingPage #SITE_HEADER-placeholder{display:none;}
#masterPage.landingPage #SITE_FOOTER-placeholder{display:none;}
#SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):not([tabindex="-1"]):focus, 
#SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):not([tabindex="-1"]):focus ~ .wixSdkShowFocusOnSibling{--focus-ring-box-shadow:0 0 0 1px #ffffff, 0 0 0 3px #116dff;box-shadow:var(--focus-ring-box-shadow) !important;z-index:1;}.has-inner-focus-ring{--focus-ring-box-shadow:inset 0 0 0 1px #ffffff, inset 0 0 0 3px #116dff !important;}
#masterPage{left:0;margin-left:0;width:100%;min-width:0;}
#SITE_HEADER{--pinned-layer-in-container:50;--above-all-in-container:49;}
#SITE_FOOTER{--pinned-layer-in-container:51;--above-all-in-container:49;}
#PAGES_CONTAINER{--pinned-layer-in-container:52;--above-all-in-container:49;}:root,:host, .spxThemeOverride, .max-width-container{--color_0:255,255,255;--color_1:255,255,255;--color_2:0,0,0;--color_3:237,28,36;--color_4:0,136,203;--color_5:255,203,5;--color_6:114,114,114;--color_7:176,176,176;--color_8:255,255,255;--color_9:114,114,114;--color_10:176,176,176;--color_11:237,165,166;--color_12:221,119,121;--color_13:222,7,10;--color_14:136,10,12;--color_15:68,5,6;--color_16:237,237,237;--color_17:171,171,171;--color_18:130,130,130;--color_19:86,86,86;--color_20:0,0,0;--color_21:255,247,170;--color_22:255,244,127;--color_23:255,233,0;--color_24:169,155,0;--color_25:84,77,0;--color_26:255,255,255;--color_27:171,171,171;--color_28:130,130,130;--color_29:86,86,86;--color_30:43,43,43;--color_31:168,224,244;--color_32:124,205,234;--color_33:13,168,224;--color_34:8,112,149;--color_35:4,56,74;--color_36:237,165,166;--color_37:68,5,6;--color_38:221,119,121;--color_39:222,7,10;--color_40:136,10,12;--color_41:130,130,130;--color_42:255,255,255;--color_43:222,7,10;--color_44:237,165,166;--color_45:68,5,6;--color_46:68,5,6;--color_47:136,10,12;--color_48:130,130,130;--color_49:130,130,130;--color_50:237,165,166;--color_51:237,165,166;--color_52:130,130,130;--color_53:130,130,130;--color_54:222,7,10;--color_55:222,7,10;--color_56:237,165,166;--color_57:237,165,166;--color_58:130,130,130;--color_59:130,130,130;--color_60:130,130,130;--color_61:130,130,130;--color_62:237,165,166;--color_63:237,165,166;--color_64:222,7,10;--color_65:222,7,10;--font_0:normal normal normal 40px/1.4em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;--font_1:normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;--font_2:normal normal normal 28px/1.4em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;--font_3:normal normal normal 60px/1.4em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;--font_4:normal normal normal 40px/1.4em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;--font_5:normal normal normal 25px/1.4em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;--font_6:normal normal normal 22px/1.4em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;--font_7:normal normal normal 17px/1.4em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;--font_8:normal normal normal 15px/1.4em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;--font_9:normal normal normal 14px/1.4em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;--font_10:normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;--wix-ads-height:0px;--sticky-offset:0px;--wix-ads-top-height:0px;--vh-unit:calc( (100vh - 0px) / 100);--site-width:980px;--above-all-z-index:100000;--portals-z-index:100001;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;--minViewportSize:320;--maxViewportSize:1920;--theme-spx-ratio:1px;--scaling-factor:min((100 * var(--one-unit)), var(--section-max-width));--customScaleViewportLimit:clamp(var(--minViewportSize) * 1px, 100 * var(--one-unit), min(var(--section-max-width), var(--maxViewportSize) * 1px));}
/** PROBLEMATIC: .font_0{font:var(--font_0);color:rgb(var(--color_15));letter-spacing:0em;}.font_1{font:var(--font_1);color:rgb(var(--color_14));letter-spacing:0em;}.font_2{font:var(--font_2);color:rgb(var(--color_15));letter-spacing:0em;}.font_3{font:var(--font_3);color:rgb(var(--color_15));letter-spacing:0em;}.font_4{font:var(--font_4);color:rgb(var(--color_15));letter-spacing:0em;}.font_5{font:var(--font_5);color:rgb(var(--color_15));letter-spacing:0em;}.font_6{font:var(--font_6);color:rgb(var(--color_15));letter-spacing:0em;}.font_7{font:var(--font_7);color:rgb(var(--color_15));letter-spacing:0em;}.font_8{font:var(--font_8);color:rgb(var(--color_15));letter-spacing:0em;}.font_9{font:var(--font_9);color:rgb(var(--color_15));letter-spacing:0em;}.font_10{font:var(--font_10);color:rgb(var(--color_14));letter-spacing:0em;}
.color_0{color:rgb(var(--color_0));}.color_1{color:rgb(var(--color_1));}.color_2{color:rgb(var(--color_2));}.color_3{color:rgb(var(--color_3));}.color_4{color:rgb(var(--color_4));}.color_5{color:rgb(var(--color_5));}.color_6{color:rgb(var(--color_6));}.color_7{color:rgb(var(--color_7));}.color_8{color:rgb(var(--color_8));}.color_9{color:rgb(var(--color_9));}.color_10{color:rgb(var(--color_10));}.color_11{color:rgb(var(--color_11));}.color_12{color:rgb(var(--color_12));}.color_13{color:rgb(var(--color_13));}.color_14{color:rgb(var(--color_14));}.color_15{color:rgb(var(--color_15));}.color_16{color:rgb(var(--color_16));}.color_17{color:rgb(var(--color_17));}.color_18{color:rgb(var(--color_18));}.color_19{color:rgb(var(--color_19));}.color_20{color:rgb(var(--color_20));}.color_21{color:rgb(var(--color_21));}.color_22{color:rgb(var(--color_22));}.color_23{color:rgb(var(--color_23));}.color_24{color:rgb(var(--color_24));}.color_25{color:rgb(var(--color_25));}.color_26{color:rgb(var(--color_26));}.color_27{color:rgb(var(--color_27));}.color_28{color:rgb(var(--color_28));}.color_29{color:rgb(var(--color_29));}.color_30{color:rgb(var(--color_30));}.color_31{color:rgb(var(--color_31));}.color_32{color:rgb(var(--color_32));}.color_33{color:rgb(var(--color_33));}.color_34{color:rgb(var(--color_34));}.color_35{color:rgb(var(--color_35));}.color_36{color:rgb(var(--color_36));}.color_37{color:rgb(var(--color_37));}.color_38{color:rgb(var(--color_38));}.color_39{color:rgb(var(--color_39));}.color_40{color:rgb(var(--color_40));}.color_41{color:rgb(var(--color_41));}.color_42{color:rgb(var(--color_42));}.color_43{color:rgb(var(--color_43));}.color_44{color:rgb(var(--color_44));}.color_45{color:rgb(var(--color_45));}.color_46{color:rgb(var(--color_46));}.color_47{color:rgb(var(--color_47));}.color_48{color:rgb(var(--color_48));}.color_49{color:rgb(var(--color_49));}.color_50{color:rgb(var(--col…
**/





.ZRTc1 {
	margin: 0 auto;
	max-width: 12=024px;
}
.CYYwi {
	margin: 0 auto;
	width: 92%;
}
.CYYwi .ynbkg {
	margin-bottom: 0 !important;
}
.CYYwi .tOL4u {
	margin: 2.25rem 0 1.5rem;
}
.ppvx_row___2-7-9 {
	display: flex;
	flex-wrap: wrap;
}
.CYYwi .tOL4u ._7w8KL {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
}
.css-1wzt2v4-Block {
	visibility: inherit;
    display: flex;
    position: relative;
    -webkit-box-pack: start;
    place-content: flex-start;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    flex-flow: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: auto;
    width: 100%;
    height: auto;
    min-width: auto;
    min-height: auto;
    max-width: none;
    max-height: none;
    background-color: transparent;
    border: none;
    border-radius: 0px;
}
.css-1gko0p0-Block {
    visibility: inherit;
    display: flex;
    position: relative;
    -webkit-box-pack: start;
    place-content: flex-start;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    flex-flow: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: auto;
    width: auto;
    height: auto;
    min-width: auto;
    min-height: auto;
    max-width: none;
    max-height: none;
    border: none;
    border-radius: 0px;
}
.spf-jmg7xg-auto-suggest_base {
    position: relative;
}
.spf-12xeah7-text_input_base-text_body {
    color: rgb(0, 20, 53);
    font-family: PayPalOpen-Regular, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 500;
    padding: 0px;
    position: relative;
    text-align: left;
}
.spf-minxxt-icon_left-left_icon {
    pointer-events: none;
    z-index: 1;
    text-decoration: none;
    position: absolute;
    inset: 1.25rem auto 1.25rem 1.5rem;
    color: rgb(84, 93, 104);
}
.spf-1sgwra0-svg-size_sm {
    /*speak: none;*/
    display: inline-block;
    aspect-ratio: 1 / 1;
    width: 1.5rem;
    height: 1.5rem;
}
.spf-1erf3cm-text_input_control-text_body-no_label_text_input_control-text_input_control_with_icon_left-label_placeholder_shown_and_not_focused-text_body-search_input:not(:focus) {
    border-color: rgb(84, 93, 104);
    box-shadow: none;
}
.spf-1erf3cm-text_input_control-text_body-no_label_text_input_control-text_input_control_with_icon_left-label_placeholder_shown_and_not_focused-text_body-search_input {
    color: rgb(0, 20, 53);
    font-family: PayPalOpen-Regular, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-overflow: ellipsis;
    box-sizing: border-box;
    width: 100%;
    border: 0.0625rem solid rgb(146, 148, 150);
    background-color: rgb(255, 255, 255);
    margin: 0px;
    outline: none;
    position: relative;
    appearance: none;
    min-height: 4rem;
    padding: 1.1875rem 0.6875rem 1.1875rem 3.6875rem;
    border-radius: 4rem;
}
.dark-mode .spf-1erf3cm-text_input_control-text_body-no_label_text_input_control-text_input_control_with_icon_left-label_placeholder_shown_and_not_focused-text_body-search_input {
    color: #fff;
    background-color: #121212;
}
.xHtUi {
	flex-direction: column;
	justify-content: center;
	display: flex;
}
.css-1uo311u-Block {
    visibility: inherit;
    display: flex;
    position: relative;
    place-content: flex-start space-around;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    flex-flow: row;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: auto;
    margin: 0px 0px 0px 6px;
    width: 100%;
    height: auto;
    min-width: auto;
    min-height: auto;
    max-width: none;
    max-height: none;
    background-color: transparent;
    border: none;
    border-radius: 0px;
}
.css-csldtj-Block {
    visibility: inherit;
    display: flex;
    position: relative;
    -webkit-box-pack: start;
    place-content: flex-start;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    flex-flow: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: auto;
    margin: 0px 2px 0px 0px;
    width: auto;
    height: auto;
    min-width: auto;
    min-height: auto;
    max-width: none;
    max-height: none;
    border: none;
    border-radius: 0px;
}
.spf-8k0rj4-icon-button_base-secondary {
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.75rem;
    border: none;
    text-decoration: none;
    display: inline-flex;
    color: rgb(0, 48, 135);
    background: rgb(250, 248, 245);
}
.dark-mode .spf-8k0rj4-icon-button_base-secondary {
    background: #121212;
}
.ppvx_row___2-7-9 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
}
@media (min-width: 36rem) {
    .ppvx_col-form--full___2-7-9, .ppvx_col-sm-12___2-7-9 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.ppvx--v2___2-9-12 .ppvx_tile--card___2-9-12:not(.ppvx--v1___2-9-12), .ppvx_tile--card___2-9-12.ppvx--v2___2-9-12:not(.ppvx--v1___2-9-12) {
    box-shadow: none;
    background-color: #fff;
    border: .0625rem solid rgba(12, 12, 13, .1);
    border-radius: .75rem;
}
.hideShimmer {
    z-index: -1;
    width: -webkit-fill-available;
    margin-top: 12px;
    min-height: 72px;
    margin-right: .75rem;
}
.ppvx--v2___2-9-12 .ppvx_tile--card___2-9-12:not(.ppvx--v1___2-9-12), .ppvx_tile--card___2-9-12.ppvx--v2___2-9-12:not(.ppvx--v1___2-9-12) {
    box-shadow: none;
    background-color: #fff;
    border: .0625rem solid rgba(12, 12, 13, .1);
    border-radius: .75rem;
}
.jLgiM .Cf3Gg {
    margin-top: 12px;
    margin-bottom: 0;
    padding: 0;
}
.ppvx_tile--card--size_xs-long___2-9-12 {
    min-width: 21.4375rem;
    min-height: 5rem;
}
.css-zwrdg2-Block {
    visibility: inherit;
    display: flex;
    position: relative;
    -webkit-box-pack: start;
    place-content: flex-start;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    flex-flow: row;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: auto;
    direction: inherit;
    width: 100%;
    height: auto;
    min-width: auto;
    min-height: auto;
    max-width: none;
    max-height: none;
    background-color: transparent;
    border: none;
    border-radius: 0px;
}
.activity_transaction_overview {
    padding: 24px 16px;
}
.css-1s22g90-Block {
    visibility: inherit;
    display: block;
    position: relative;
    -webkit-box-pack: start;
    place-content: flex-start;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    flex-flow: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: auto;
    margin: 0px 0px 0px 16px;
    width: auto;
    height: auto;
    min-width: auto;
    min-height: auto;
    max-width: none;
    max-height: none;
    border: none;
    border-radius: 0px;
    direction: inherit;
    background-color: transparent;
}
.spf_page .description_container {
    width: calc(100% - 60px) !important;
}
.css-10ykmlc-Block {
    visibility: inherit;
    display: block
;
    position: relative;
    -webkit-box-pack: start;
    place-content: flex-start;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    flex-flow: row;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: auto;
    width: auto;
    height: auto;
    min-width: auto;
    min-height: auto;
    max-width: none;
    max-height: none;
    border: none;
    border-radius: 0px;
    direction: inherit;
    background-color: transparent;
}
.css-119hakx-Block {
    visibility: inherit;
    display: block;
    position: relative;
    -webkit-box-pack: start;
    place-content: flex-start;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    flex-flow: row;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: auto;
    margin: 0px 12px 0px 0px;
    width: auto;
    height: auto;
    min-width: auto;
    min-height: auto;
    max-width: none;
    max-height: none;
    border: none;
    border-radius: 0px;
    direction: inherit;
    background-color: transparent;
}
.css-1btrjjs-Block {
    visibility: inherit;
    display: block
;
    position: absolute;
    -webkit-box-pack: start;
    place-content: flex-start;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    flex-flow: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: auto;
    width: 100%;
    height: auto;
    min-width: auto;
    min-height: auto;
    max-width: none;
    max-height: none;
    border: none;
    border-radius: 0px;
}
.spf_page .counterparty_name {
	word-wrap: break-word; /* Ensure long words break and wrap to the next line */
    white-space: normal;
    /*text-overflow: ellipsis;
	overflow: auto;
    white-space: nowrap;*/
    display: block !important;
}
.spf-n9sv0u-text_body_strong {
    color: rgb(0, 20, 53);
    font-family: PayPalOpen-Bold, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 700;
}
.ppvx--v2___3-5-24 .ppvx_divider___3-5-24:not(.ppvx--v1___3-5-24), .ppvx_divider___3-5-24.ppvx--v2___3-5-24:not(.ppvx--v1___3-5-24) {
    border-top: .0625rem solid #f1efea;
}
.Wdp\+k {
    margin-left: -80px !important;
}
._21Yf0 {
    border-width: 2px !important;
    margin-right: -16px !important;
}
.RU6Xl {
    margin: 0 !important;
}
.eT4Sl {
    overflow-y: hidden;
    max-height: 15000px;
    box-sizing: border-box;
    transition: max-height .5sease-in-out;
}
.M9Dbj, .M9Dbj:hover {
    box-shadow: none !important;
}
.M9Dbj {
    margin: auto;
    border: none !important;
    width: 94% !important;
    padding: 52px 0 12px;
}
.NTDpN {
    padding: 0 !important;
    margin-right: 16px !important;
}
@media (min-width: 36rem) {
    .ppvx_col-form--full___2-7-9, .ppvx_col-sm-12___2-7-9 {

        max-width: 100%;
    }
}
.M9Dbj .qKkFY .S83r5 {
    margin-right: 16px !important;
    margin-left: 8.3% !important;
}
.card-tile {
	display: block;
	border: .0625rem solid rgba(12, 12, 13, .1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: .75rem;
	margin-top: 12px;
	margin-bottom: 0;
    overflow: hidden;
	padding: 0;
	word-wrap: break-word; /* Ensure long words break and wrap to the next line */
    white-space: normal;
	min-width: 21.4375rem;
    min-height: 5rem;
    cursor: pointer;
}
.card-header {
	color: rgb(0, 20, 53);
    font-family: PayPalOpen-Bold, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 700;
	padding: 24px 16px;
	margin: 0px 0px 0px 16px;
	padding-bottom: 13px;
}
.horizontal-rule {
	border-top: .0625rem solid #f1efea;
}
.expandable-box {
	width: 100%;
	height: 20px;
}
.expandable-box.expanded {
    width: 200%;
    height: 200px;
}
.card-description {
    padding: 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    color: rgb(0, 20, 53);
    font-family: PayPalOpen-Regular, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
    overflow: hidden;
    max-height: 70px; /* Initial height to show only 2 lines */
    transition: max-height 0.3s ease-in-out;
    
}

.card-description.expanded {
    max-height: 1000px; /* Adjust this value based on your content */
}
.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode .card-description {
    background-color: #171717;
    border-top: 1px solid #fff;
    color: rgb(255, 255, 255);
}
.dark-mode .card-header {
    background-color: black;
    color: #E0E0E0;
}
.dark-mode .card-tile {
    border: .0625rem solid #fff;
}
.card-tile.hide  {
    display: none !important;
}
  